<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>PendingWorx | Add</title>

  <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="../stylesheets/mysheet.css">

  <!-- Bootstrap -->
  <link href="../journal/bootstrap.min.css" rel="stylesheet">

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../bootstrap/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="../scripts/jquery-ui/jquery-ui.min.css">
  <script src="../scripts/jquery-ui/external/jquery/jquery.js"></script>
  <script src="../scripts/jquery-ui/jquery-ui.min.js"></script>

  <script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'dd-M-yy', minDate: 0 });
  });
  </script>
</head>
<body>

	<!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">To Do List</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
          <li class="active"><a href="/addtask"><i class="fa fa-plus"></i> Add Task</a></li>   
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a>{{ user_mail }}</a></li>
          <li><a href="{{ logout }}"><i class="fa fa-sign-out"></i> Logout</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>



  <div class="container" id="maincontainer">


   <form action="/addtask" method="post" class="form-horizontal">
    <fieldset>
    	<legend>Add a new task</legend><br>

    	<div class="form-group">

       <label for="inputtitle" class="col-lg-2 control-label">Title</label>
       <div class="col-lg-10">
         <input type="text" class="form-control" name="title" id="inputEmail" maxlength="70"placeholder="Summarize in a few words..." required>
       </div>

     </div>

     <div class="form-group">
       <label for="textArea" class="col-lg-2 control-label">Description</label>

       <div class="col-lg-10">
         <textarea class="form-control" rows="4" cols="60" name="desc" id="textArea" placeholder="Enter a description here..."></textarea>
       </div>

     </div>

     <div class="form-group">
       <label for="select" class="col-lg-2 control-label">Priority</label>
       <div class="col-lg-10">

         <select name="priority" class="form-control" id="select">
          <option value="1">High</option>
          <option value="2" selected>Medium</option>
          <option value="3">Low</option>
        </select>

      </div>
    </div> 

    <div class="form-group">

       <label for="inputdate" class="col-lg-2 control-label">Due date</label>
       <div class="col-lg-10">
         <input type="text"  class="form-control" id="datepicker" name="duedate">
         <span class="help-block"><em>Leave blank if no due date</em></span>
       </div>

     </div>
     
    <br>

    <div class="form-group">
     <div class="col-lg-10 col-lg-offset-2">
       <input type="reset" value="Reset" class="btn btn-default"/>
       <input type="submit" value="Add task" class="btn btn-primary"/>
     </div>
   </div>

 </fieldset>

</form>

</div><!-- /.container -->


</body>
</html>
